.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand > *{
    margin: 10px;
}

.navbar-container{
    height: 60px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: lightgrey;
}

.navbar-user{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    padding: 10px;
}

.brand-name:hover{
    color: white;
} 

/* .navbar-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */