.btn-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.add-btn {
    border: none;
    transition-duration: 0.4s;
    padding: 20px;
    margin: 10px;
    width: 120px
  }
  
  .add-btn:hover {
    background-color: lightgreen; /* Green */
    color: white;
  }