.taskview-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskview-table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
}

th{
    text-align: left;
    padding: 10px;
}

td{
    padding: 10px;
    font-size: small;
}

/* tr:nth-child(even){
    background-color: lightgrey;
} */

.taskview-table button{
    border: none;
    background-color: white;
}

.taskview-body tr:hover{
    background-color: lightgrey;
    color: white;
}

.delete-btn:hover{
    background-color: red;
    color: white;
}

p{
    padding: 10px;
}